@inject HttpClient Http
@using Newtonsoft.Json;
@using Real.Time.Chat.Shared.Kernel.Entity;
@using Real.Time.Chat.Web.Service; 
@inject Blazored.LocalStorage.ILocalStorageService LocalStore
@inject NavigationManager UriHelper;

@page "/login"
<div class="p-3 mb-2 bg-dark text-white">
<div class="container">
    <h3>Real Time Chat Application</h3>
    <div class="form-group">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" class="form-control" @bind="@username" />
    </div>

    <div class="form-group">
        <label for="password"><b>Password</b></label>
        <input type="password" class="form-control" name="password" @bind="@password" />
    </div>

    <button class="btn btn-primary" @onclick="DoLogin">Login</button>
    <button class="btn btn-secondary" @onclick="NavigatetoNextComponent">Register</button>
    <span class="text-danger">@loginErrorMessage</span>
</div>
</div>

@code {
    string username = string.Empty;
    string password = string.Empty;
    string loginErrorMessage = string.Empty;

    protected async Task DoLogin()
    {
        var response = await new ChatService().Login(username, password);
        var actionResult = JsonConvert.DeserializeObject<ApiOkReturn>(await response.Content.ReadAsStringAsync());
        var token = JsonConvert.DeserializeObject<TokenJWT>(JsonConvert.SerializeObject(actionResult?.Data));
        if (token != null)
        {
            await LocalStore.SetItemAsync("token", token.Token);
            await LocalStore.SetItemAsync("username", username);
            UriHelper.NavigateTo("Home");
        }
        else
            loginErrorMessage = "Unauthorized. Are you registered?";
    }

    void NavigatetoNextComponent()
    {
        UriHelper.NavigateTo("Register");
    }
}